.navbar-custom {
    background-color: #1A1A1D;
}

.navbar-custom .nav-link {
    color: #C3073F;
}

.navbar-custom .navbar-brand {
    color: #C3073F;
}

.btn-primary {
    background-color: #C3073F;
    border-color: #C3073F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #a3063a; /* Slightly darker for hover effect, adjust as needed */
    border-color: #a3063a;
}

.float-right {
    float: right;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* Adjust as needed */
    max-width: 100%; /* Adjust as needed */
}

.custom-background {
    background-image: url('ChatApp/website/static/images/background_login_register.png'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
}

.message-content {
    flex-grow: 1;
    overflow: hidden;
    max-width: 100%; /* Ensure the message doesn't exceed the container width */
    word-break: break-word; /* Breaks long words if necessary */
}

.chat-bubble {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 10px;
    position: relative;
    word-wrap: break-word; /* Add this line */
    max-width: 80%; /* Example max-width, adjust as needed */
}

.text-end .chat-bubble {
    background-color: #DCF8C6; /* Light green background for user messages */
    margin-left: auto;
}

.text-start .chat-bubble {
    background-color: #ECECEC;
    margin-right: auto;
}

.message-timestamp {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.font-weight-normal {
    font-weight: normal;
}

.chat-history {
    padding-bottom: 40px; /* Adjust this value based on the height of your input area */
    overflow-y: auto; /* This ensures a scrollbar appears if content overflows */
}

/* Optional: Adjust the scroll behavior for dynamic content loading */
.chat-history::after {
    content: "";
    display: block;
    height: 45px; /* Same as the padding-bottom value */
}

/* Main container holding chat list and chat window */
.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling of the entire page */
}

/* Chat list container */
.chat-list-container {
    overflow-y: auto; /* Allow scrolling within the chat list */
    flex: 0 0 30%; /* Adjust the width as necessary */
}

/* Chat window container */
.chat-window-container {
    overflow-y: auto; /* Allow scrolling within the chat window */
    flex-grow: 1; /* Take up the remaining space */
}

/* Alert container */
.alert-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100; /* Ensure it's above other content */
}

.conversation-list-message-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; /* Allow the text to fill the space */
    max-width: 370px; /* Adjust this percentage as needed */
}

